:root {
  --button-gradient-bg: linear-gradient(to right, #ff8a00, #da1b60);
}

.form-section hr {
  margin-top: 30px;
  color: #fff;
  border: 0;
  border-top: 1px solid #757272;
  width:80%;
}

.or {
  display: flex;
  justify-content: center;
  font-size: 13px
}

.or p {
  z-index: 2;
  margin-top: -10px;
  background-color: #ffff;
  padding: 0 4px;
  font-weight: bold;
}

.phone-section{
  height: 100vh;
}

.basicsetupcomp{
  background: #f9f9f9;
}

.admin-logo{
  border: 2px solid black;
  border-radius: 100%;
}


.button-75 {
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

.input-field {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  border: 1px solid #d1d5db;
}

.btn {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  background-color: #e5e7eb;
  color: #4b5563;
  cursor: pointer;
}

.btn:hover {
  background-color: #d1d5db;
}

.social-icon {
  width: 3rem;
  cursor: pointer;
}
